{{!-- objetos sem referencia o .objeto com o with --}}

{{#with post}}

    <h1>{{title}}</h1>
    <h1>{{category}}</h1>
    <h1>{{body}}</h1>
    <p>Numero de comentários: {{comments}} </p>
    
{{/with}}